@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Projekat Web Portal</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />

    <!-- Data table -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

    <!--CSS-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />


</head>
<body id="body_container">

    <div class="wrapper swipeArea">
        <!-- Sidebar -->
        <nav id="sidebar">

            <ul class="list-unstyled components">
                <li class="nav-item">
                    <a class="nav-link" asp-area="#" asp-controller="Home" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                        Početna
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="#" asp-controller="#" asp-action="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file" aria-hidden="true"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                        Sidebar link 2
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="#" asp-controller="#" asp-action="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart" aria-hidden="true"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                        Sidebar link 3
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="#" asp-controller="Users" asp-action="Index">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users" aria-hidden="true"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                        Korisnici
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="#" asp-controller="#" asp-action="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2" aria-hidden="true"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                        Sidebar link 5
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="#" asp-controller="#" asp-action="#">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers" aria-hidden="true"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                        Sidebar link n
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled">
                <li><center>© Web portal 2023</center></li>
            </ul>

        </nav>

        <!-- Navbar -->
        <div id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="d-flex navbar-items">
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-light navbar-btn">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>

                        <a class="navbar-brand" asp-controller="Home" asp-action="UserManager">
                            <img class="logo" src="~/logo/WebPortalLogo.jpg"/>
                        </a>

                        <a href="#" class="btn btn-outline-light nav-btn"><i class="bi bi-box-arrow-right"></i> Odjavi se</a>
                    </div>
                </div>
            </nav>

            <!-- MAIN BODY HERE -->
            <div class="main-body">
                <div class="col-md-12">

                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                
                </div>
            </div>

        </div>
    </div>

    <!--jQuery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <!--Bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <!--jQuery.mCustomScrollable-->
    <script src="~/lib/jquery/dist/jquery.mCustomScrollable.min.js"></script>
    
    <!--Custom js scripts-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!--jQuery.touchSwipe-->
    <script src="~/lib/jquery/dist/jquery.touchSwipe.min.js"></script>
    
    <!--Data table-->
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
