body {
}

.dropdown-wrap {
    margin: 0 auto;
    width: 78%;
    text-align: left;
}

    .dropdown-wrap label {
        padding-left: 10px;
        font-family: 'roboto-light' !important;
        font-size: 18px !important;
        color: rgb(109, 109, 109);
    }

.izgledDropdown {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
    height: 45px;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    font-size: 15px;
    font-family: 'roboto-regular';
    color: black;
}