@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>HOME</p>
   @* <form class="form-inline" action="@Url.Action("logout", "Home")" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Click here to Logout</button>
    </form>*@
</div>
