body {
}

.zahtevDropdownWrap{
    display:flex;
    justify-content:space-around;
    width:90%;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:0px;
    padding-right:0px;
    margin:0 auto;
}
.zahtevDropdown {
    width: 170px;
    height: 45px;
    border-color:black;
    border-style:solid;
    border-width: 0px 0px 1px 0px;
    padding: 5px;
    font-size: 15px;
    font-family: 'roboto-regular';
    color:black;
}